[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests = "*"
translators = "*"
spacy = "*"
scipy = "*"
spacy-transformers = "*"
numpy = "*"
sklearn = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
